body {
    background-color: #f5efe7;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #213555;
    color: #f5efe7;
    padding: 10px;
}

.navbarrightul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    gap: 7.5px;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #f5efe7;
}